@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

header,subHeader {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  width: 100%;
  background-attachment: fixed;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

#logo {
  position: absolute;
  top: 9%;
  left: 5%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Neuton", serif;
  line-height: 30px;
  margin-bottom: 10px;
}

#logo > a > img {
  width: 70%;
}



/* Footer styles */
#footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer {
  text-align: center;
}

.footer p {
  font-size: 18px;
}

#Copyright {
  background-color: #222;
  color: #fff;
}

.footer-copyright {
  font-size: 14px;
}
