{% extends "base.html" %}
{% block title %}SignUp{% endblock %}
{% block content%}
<!-- Login Start-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section id="login">
    <div id="loginDiv" class="container">
        <form method="POST">
            <h3 align="center">Login</h3>
            <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter your email address"
              required
            />
            </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter password"
            />
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</section>
<!-- Sign Up End -->
{% endblock %}